{% extends "layout.html" %}
{% block conteudo %}
<h2>Configurações</h2>

<form method="POST">
  <div class="mb-3">
    <label>Imposto (%)</label>
    <input type="text" name="imposto_percent" class="form-control" value="{{ cfg.imposto_percent if cfg }}">
  </div>
  <div class="mb-3">
    <label>Despesas (%)</label>
    <input type="text" name="despesas_percent" class="form-control" value="{{ cfg.despesas_percent if cfg }}">
  </div>
  <button class="btn btn-success">Salvar</button>
</form>
{% endblock %}
