{% extends "layout.html" %}
{% block conteudo %}
<h2>Importar Vendas</h2>

<form method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label>Arquivo (.xlsx)</label>
    <input type="file" name="arquivo" class="form-control">
  </div>
  <div class="mb-3">
    <label>Tipo de importação</label>
    <select name="tipo" class="form-control">
      <option value="ml">Mercado Livre - Vendas BR</option>
      <option value="template">Template consolidado</option>
    </select>
  </div>
  <button class="btn btn-success">Importar</button>
</form>
{% endblock %}
