{% extends "layout.html" %}
{% block conteudo %}
<h2>{{ produto and 'Editar Produto' or 'Novo Produto' }}</h2>

<form method="POST">
  <div class="mb-3">
    <label>Nome</label>
    <input type="text" name="nome" class="form-control" value="{{ produto.nome if produto }}">
  </div>
  <div class="mb-3">
    <label>SKU</label>
    <input type="text" name="sku" class="form-control" value="{{ produto.sku if produto }}">
  </div>
  <div class="mb-3">
    <label>Custo unitário</label>
    <input type="text" name="custo_unitario" class="form-control" value="{{ produto.custo_unitario if produto }}">
  </div>
  {% if not produto %}
  <div class="mb-3">
    <label>Estoque inicial</label>
    <input type="number" name="estoque_inicial" class="form-control">
  </div>
  {% endif %}
  <button class="btn btn-success">Salvar</button>
</form>
{% endblock %}
