{% extends "layout.html" %}
{% block conteudo %}
<h2>Nova venda manual</h2>

<form method="POST">
  <div class="mb-3">
    <label>Produto</label>
    <select name="produto_id" class="form-control">
      {% for p in produtos %}
      <option value="{{ p.id }}">{{ p.nome }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label>Data da venda</label>
    <input type="date" name="data_venda" class="form-control">
  </div>
  <div class="mb-3">
    <label>Quantidade</label>
    <input type="number" name="quantidade" class="form-control">
  </div>
  <div class="mb-3">
    <label>Preço unitário</label>
    <input type="text" name="preco_unitario" class="form-control">
  </div>
  <button class="btn btn-success">Salvar</button>
</form>
{% endblock %}
